<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" th:replace="~{base :: parent(~{::#content},~{::#title},~{script})}">
    <title id="title">About Page</title>
</head>

<body>
    <div id="content" class="mt-20">
        <h1 class="">welcome to about page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sed quo earum quos quam accusamus aperiam ea in
            unde, esse totam ullam deleniti nobis quis ad nesciunt voluptatem error ipsam a nulla veniam? Nulla enim in
            repellat nam quisquam possimus distinctio eum voluptatibus sit odit, velit similique! Velit accusamus
            adipisci laborum corporis perspiciatis sed provident repudiandae expedita eveniet dolores repellendus
            nesciunt laudantium quae doloribus, oluptas, esse cupiditate. Exercitationem, commodi vel. Molestiae
            veritatis fugiat architecto blanditiis, quas vitae dolor repellendus iure tempora in ullam nam consectetur
            mollitia iusto voluptatum similique! Excepturi, repudiandae omnis? Porro possimus error earum recusandae,
            soluta quas, placeat, similique quasi eos commodi tempore delectus nisi deleniti dolores asperiores harum
            blanditiis. Laborum distinctio architecto, modi provident, voluptate aperiam delectus non molestias fugit
            repellendus, placeat perferendis expedita soluta eligendi quaerat eius nesciunt quia quos impedit ut quidem?
            Quis quidem consequatur impedit ratione molestiae cupiditate voluptate iusto? Maiores, repellendus corrupti.
            Officia a quo esse eos non aperiam saepe sunt quasi illum aliquam, enim ipsa, est exercitationem atque
            repellat dignissimos? Modi corporis expedita eius, a quisquam consectetur. Itaque pariatur voluptatem autem
            amet a voluptates, fugiat voluptate nesciunt, quidem laborum molestiae asperiores! Blanditiis, dolorem
            omnis? Est repellendus tempore eius quibusdam suscipit necessitatibus consectetur.</p>
    </div>

</body>

</html>